{% include 'context/pr_or_issue.njk' %}


{% include 'instructions/base.njk' %}


{% include 'request/base.njk' %}


{% include 'guidelines/base.njk' %}


{% include 'formatting/base.njk' %}


{% include 'capabilities/base.njk' %}


{% include 'limitations/base.njk' %}
